# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
dist
*.css.map
*.css

.vscode
# testing
/coverage
# production
build
DS_Store
# misc
dist
baggo-stripe-firebase-adminsdk-jcq9w-1e6f26cbd6.json

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
